<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="logo_name">
        <img class="logo_img" src="images/mySchool.png" alt="">

        <div class="school_name">
            <h1 class="name">RISHIKULAM SCHOOL MORENA</h1>
            <p>Diversion Road, Mishra Nagar, Thara, Ambah, Jauri</p>
        </div>
    </div>
</body>
</html>