<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <nav class="navbar">

        <i class="fa-solid fa-bars menu-icon" id="menuToggle"></i>

        <ul class="nav">
            <li><a href="/">Home</a></li>

            <li class="dropdown">
                <a >
                    <span>About Us</span> <i class="fa-solid fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/school.html">About School</a></li>
                    <li><a href="/mission.html">Our Mission & Vision</a></li>
                    <li><a href="/management.html">Management</a></li>
                    <li><a href="/rules.html">School Rules</a></li>
                </ul>
            </li>

            <li><a href="/academics.html">
                    Academics</a>
            </li>
            <li><a href="/non-academics.html">
                    Non-Academics</a>
            </li>

            <li><a href="/admission.html">Admission</a></li>

            <li class="dropdown">
                <a>
                    <span>Login</span> <i class="fa-solid fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/admin.html">Admin Login</a></li>
                    <li><a href="/teacher.html">Teacher Login</a></li>
                    <li><a href="/student.html">Student Login</a></li>
                </ul>
            </li>

            <li><a href="/contactUs.html">
                    Contact Us</a>
            </li>
        </ul>
    </nav>
</body>


<script>
    const menuIcon = document.getElementById("menuToggle");
    const navMenu = document.querySelector(".nav");
    const dropdowns = document.querySelectorAll(".dropdown");

    // Toggle menu open/close
    menuIcon.addEventListener("click", () => {
        navMenu.classList.toggle("active");

        // Toggle icon between bars ↔ cross
        if (menuIcon.classList.contains("fa-bars")) {
            menuIcon.classList.replace("fa-bars", "fa-xmark");
        } else {
            menuIcon.classList.replace("fa-xmark", "fa-bars");
        }
    });

    // For mobile dropdowns - toggle on tap
    dropdowns.forEach(drop => {
        drop.addEventListener("click", () => {
            drop.classList.toggle("active");
        });
    });
</script>



</html>