
<section class="contact-section">
    <div class="card">
        <h1>CONTACT US</h1>
        <span class="contact">

            <div class="mail_call">
                <h3>CALL & EMAIL</h3>
                <div class="mail">
                    <i class="fa-solid fa-envelope"></i>
                    <p>rishikulamschoolmorena@gmail.com</p>

                    <i class="fa-solid fa-phone"></i>
                    <p>+91 9691606444</p>
                </div>
            </div>

            <div class="address">

                <h3>ADDRESS</h3>
                <i class="fa-solid fa-location-dot"></i>
                <p>Diversion Road, Mishra Nagar, Thara, Ambah, Jauri</p>
            </div>

            <div class="work_with_us">

                <h3>WORK WITH US</h3>
                <p>Send Your CV.</p>
                <i class="fa-solid fa-envelope"></i>
                <p>rishikulamschoolmorena@gmail.com</p>
            </div>
        </span>
    </div>

</section>
