<footer class="footer-section">
    <div class="links">

        <div class="mail call">
            <i class="fa-solid fa-envelope"></i>
            <p>rishikulamschoolmorena@gmail.com</p>
        </div>

        <div class="phone call">
            <i class="fa-solid fa-phone"></i>
            <p>+91 9691606444</p>
        </div>

        <a href="https://www.facebook.com/rishi.kulam.3"><i class="fa-brands fa-facebook"
                style="color:blue ;"></i></a>

        <a href="https://www.instagram.com/rishikulam?igsh=cWp4ZDZ0YjBkbmd6"><i
                class="fa-brands fa-instagram"></i></a>

        <a href="https://www.youtube.com/@rishikulamschool5539"><i class="fa-brands fa-youtube"></i></a>

    </div>

    <p class="copyright">Copyright 2025 © RISHIKULAM SCHOOL All rights reserved. </p>
</footer>