.admin_dash {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.main-section {
    width: 80%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 40px 20px;
}

.card {
    background-color: rgb(226, 232, 121);
    padding: 60px 90px 30px 20px;
    border-radius: 12px;
    text-align: left;
}


.card h3 {
    font-size: 32px;
}

.card p {
    font-size: 27px;
    margin-top: 10px;
    color: rgb(31, 31, 31);
}

.purple {
    background-color: rgb(173, 211, 235);
}

/*  LINE-CHART BLOCK */
.earnings-chart {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin: 20px auto;
    width: 95%;
    min-height: 400px;
}

.earnings-header {
    margin-bottom: 20px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select_class {
    outline: none;
    padding: 7px 9px;
    border-radius: 8px;
    border: none;
    background-color: rgb(237, 237, 239);
    font-size: 13px;
}

.chart-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.legend-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: #444;
}

.legend-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.income-dot {
    background-color: #60A5FA;
}

.expense-dot {
    background-color: #F87171;
}

#earningsLineChart {
    max-width: 100%;
    height: 400px !important;
}

/*  PIE-CHARTS */
.pie-chart {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.expense-chart,
.revenue-chart {
    margin-top: 20px;
    width: 250px;
    height: 250px;
}

.expense-chart {
    margin-top: 40px;
    width: 300px !important;
    height: 300px !important;
}

.expense,
.revenue {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}

.fund-form {
    margin-top: 12px;
}

.fund-form label {
    font-size: 18px;
}

.fund-form input {
    border: 1px solid gray;
    border-radius: 7px;
    outline: none;
    padding: 5px 0px 5px 14px;
    width: 132px;

}

.no-record {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 40px 0;
}

@media(max-width:1250px) {

    .card h3 {
        font-size: 25px;
    }

    .card p {
        font-size: 18px;
    }
}

@media(max-width:1100px) {

    .earnings-chart {
        width: 100%;
    }

}

@media (max-width:1100px) and (min-width:900px) {
    .main-section {
        margin-left: 280px !important;
        /* EXACT Sidebar width */
        width: calc(100% - 280px);
    }
}

@media(max-width:900px) {

    .main-section {
        margin-left: 10px;
        width: 100%;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        text-align: center;
        padding: 40px 50px;
    }

    .expense-chart,
    .revenue-chart {
        width: 250px;
        height: 250px;
    }

    .expense-chart {
        width: 280px !important;
        height: 280px !important;
    }

}

/* ============ 700px ============ */
@media(max-width:700px) {
    .earnings-chart {
        margin: 15px 10px;
        padding: 15px;
    }

    #earningsLineChart {
        height: 300px;
    }

    .legend-row {
        flex-direction: column;
        gap: 12px;
    }
}

/* ============ 600px ============ */
@media(max-width:600px) {

    .cards {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .card {
        width: 90%;
        padding: 35px 20px;
    }

    .card h3 {
        font-size: 21px;
    }

    .card p {
        font-size: 16px;
    }

    .pie-chart {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/* ============ 500px ============ */
@media(max-width:500px) {

    /* CHART SCROLL ENABLED */
    .earnings-chart {
        overflow-x: auto;
    }

    #earningsLineChart {
        width: 600px !important;
    }

    .pie-chart {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .expense-chart,
    .revenue-chart {
        display: inline-block;
    }

    .expense-chart {
        width: 270px !important;
        height: 270px !important;
    }
}

@media(max-width:400px) {

    .expense-chart,
    .revenue-chart {
        width: 220px;
        height: 220px;
        margin: 20px;
    }

    .main-section {
        margin-left: 0px;
    }

    .earnings-chart {
        margin-left: 0 !important;
    }
}

/* Prevent overflow issues */
canvas {
    max-width: 100% !important;
}